.search-form {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.search-form__field {
    margin-right: 10px;
    border-radius: 5px;
    
    font-size: 20;
}

.search-form__button {
    background-color: #ffffff;
    height: 30px;

    border-radius: 5px;
}