.gallery__section {
    padding: 20px;
}

.gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: -$gap;

    

    @media screen and (min-width: 480px) {
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -$gap;
    }

}

.gallery > a {
    
    display: block;
        margin-left: 0;
        margin-top: $gap;

    @media screen and (min-width: 480px) {
        margin-left: $gap;
        flex-basis: calc((100% - ($gap * 2)) / 2);
    }
               

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - ($gap * 3)) / 3);
    }
    

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - ($gap * 4)) / 4);
    }
    
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.342);
    text-decoration: none;
    color: black;
    transition: all 0.25s ease-in;

    &:hover {
        filter: brightness(120%);
    }
}

.load-more {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 80px;
    width: 80px;

    background-image: url(../images/dots.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-radius: 50%;
    border: none;  
}

.load-more.is-visible {
    display: block;    
}   
