.body {

    color: #212121;
    background-color: #FFFFFF;

    &.theme-dark {
        color: #FFFFFF;
    background-color: #02023a;
    }
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
    height: $header-height;
    min-width: 320px;

    background-color: $header-color;
    z-index: 1;
}

